<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> navbar-login}}
    <main class="shop container">
      <h2 class="section-title">
        Please Login To View Products
      </h2>
    </main>
  </body>
  {{> scripts}}
</html>